<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>368053182677-8m98ul2v3l3os8pccv782f4p2qoupj4p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.368053182677-8m98ul2v3l3os8pccv782f4p2qoupj4p</string>
	<key>API_KEY</key>
	<string>AIzaSyAuKGQLRaU7zRjTY3WXd3bCJhqcX3Zlgxk</string>
	<key>GCM_SENDER_ID</key>
	<string>368053182677</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.co.smartSB.app</string>
	<key>PROJECT_ID</key>
	<string>smartsbapp</string>
	<key>STORAGE_BUCKET</key>
	<string>smartsbapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:368053182677:ios:584a559dc8785fd8b1025c</string>
</dict>
</plist>